---
import Layout from "../../layouts/Layout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import { useTranslations } from '../../lib/i18n/utils';
import type { Lang } from '../../lib/i18n/utils';

const lang: Lang = 'en';
const t = useTranslations(lang);

// Skills por categorías
const skillCategories = [
  {
    label: "Languages",
    items: ["PHP", "Javascript(ES6)", "TypeScript", "SQL", "CSS", "HTML"]
  },
  {
    label: "Frameworks",
    items: ["WordPress", "Laravel", "jQuery", "Vue", "Astro", "Sass"]
  },
  {
    label: "Tools",
    items: ["Git", "PHPUnit", "Composer", "npm", "Jenkins", "Postman"]
  },
  {
    label: "DevOps",
    items: ["SSH", "Docker", "Nginx", "MySQL", "Plesk / cPanel", "AWS Basics"]
  }
];

const jobs = [
  {
    company: "Fundación Telefónica",
    link: "https://www.fundaciontelefonica.com/",
    position: "Full Stack Engineer",
    period: "Oct. 2024 - Presente"
  },
  {
    company: "GalacticBlum",
    link: "https://www.galacticblum.com/",
    position: "Full Stack Engineer",
    period: "Oct. 2019 - Sep. 2024"
  },
  {
    company: "Piranha Designs",
    link: "https://www.piranhadesigns.com/",
    position: "Backend Developer",
    period: "Mar. 2019 - Sep. 2019"
  },
  {
    company: "Bloonde",
    link: "https://www.bloonde.com/",
    position: "Backend Developer",
    period: "Feb. 2018 - Mar. 2019"
  }
];
---

<Layout 
  title={`${t('about.title')} | JJ`} 
  page="page-about"
  description="Sobre mi trayectoria como ingeniero de software."
>
  <div class="container">
    
    <section class="section-about">
      <h2>BACKGROUND</h2>
      <div>
        <p>{t('sobre.desc1')}</p>
        <p>{t('sobre.desc2')}</p>
      </div>
    </section>

    <section class="section-about">
      <h2>{t('sobre.skillsTitle')}</h2>
        <div class="skills-grid">
          {skillCategories.map(cat => (
            <div class="skill-column">
              <span class="skill-label">{t(`sobre.${cat.label.toLowerCase()}Title`)}</span>
              <ul>{cat.items.map(item => <li>{item}</li>)}</ul>
            </div>
          ))}
        </div>
    </section>

    <section class="section-about">
      <h2>{t('sobre.experienceTitle')}</h2>
        <div>
          {jobs.map(job => (
            <div class="job-item">
              <div class="job-header">
                {job.link ? (
                  <a href={job.link} target="_blank" class="job__company">{job.company}</a>
                ) : (
                  <span class="job__company">{job.company}</span>
                )}
                <span class="job__period">{job.period}</span>
              </div>
              <div>{job.position}</div>
            </div>
          ))}
        <a href="https://www.linkedin.com/in/jjmontalban/" class="cta cta-primary">{t('sobre.downloadCV')}</a>
        </div>
        
    </section>

    <ContactCTA 
      title={t('casos.cta.title')}
      text={t('casos.cta.text')}
    />
  </div>
</Layout>