---
import Layout from "../layouts/Layout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import { wordpress, github } from "../lib/icons";

const plugins = [
  {
    title: "Woocommerce Quantity",
    image: "/assets/plugins/plugin-quantity-settings.webp",
    desc: "Permite definir cantidades mínimas, máximas o rangos en WooCommerce.",
    github: "#",
    link: "https://wordpress.org/plugins/product-quantity-settings/",
  },
  {
    title: "EU VAT Number",
    image: "/assets/plugins/plugin-vat.webp",
    desc: "Gestión y validación automática del IVA intracomunitario VAT en WooCommerce.",
    github: "#",
    link: "https://wordpress.org/plugins/eu-vat-number/",
  },
  {
    title: "Idealista Feed",
    image: "/assets/plugins/plugin-idealista.webp",
    desc: "Sincroniza propiedades entre WordPress e Idealista automáticamente.",
    github: "#",
    link: "https://wordpress.org/plugins/idealista-feed-pro/",
  },
  {
    title: "Ps WhatsApp",
    image: "/assets/plugins/modulo-whatsapp.webp",
    desc: "Integra WhatsApp con PrestaShop 8. Compatible con multitienda.", 
    github: "#",
    link: "#",
  },
  {
    title: "Filmder",
    image: "/assets/plugins/movie-match.webp",
    desc: "WordPress headless + API de IMDB con Vuejs en el frontend.",
    github: "#",
    link: "#",
  },
];
---

<Layout
  title="Plugins y herramientas | JJ Montalban"
  page="page-plugins"
  description="Plugins y herramientas para WordPress, WooCommerce, JavaScript y frameworks modernos. Soluciones reales con enfoque técnico."
>
  <div class="container">

    <section class="content-container">
      <h1>Herramientas libres</h1>

      <p class="lead">Herramientas que resuelven problemas reales: para PrestaShop, WordPress y WooCommerce. Usando JavaScript y frameworks modernos.
      </p>

        <div class="plugins-grid">
          {plugins.map(plugin => (
            <article class="plugin-card">
              <img
                src={plugin.image}
                alt={plugin.title}
                class="plugin-image"
              />

              <div class="plugin-body">
                <h2>{plugin.title}</h2>

                <p class="plugin-desc">
                  {plugin.desc}
                </p>

                <div class="plugin-links">
                  <a
                    href={plugin.github}
                    target="_blank"
                    class="plugin-link"
                  >
                    <svg viewBox="0 0 24 24" set:html={github.body} />
                    <span class="sr-only">github</span>
                  </a>

                  <a
                    href={plugin.link}
                    target="_blank"
                    class="plugin-link"
                  >
                    <svg viewBox="0 0 24 24" set:html={wordpress.body} />
                    <span class="sr-only">wordpress plugin</span>
                  </a>
                </div>
              </div>
            </article>
          ))}
        </div>

    </section>

    <ContactCTA
      title="¿Tienes una idea de plugin?"
      text="Diseño y desarrollo esa idea."
      button="Cuéntame"
    />
  </div>
</Layout>
