---
import { dev, wordpress, behance, github, linkedin, unsplash } from "../lib/icons";
---
<footer class="site-footer">
  <div class="site-footer__inner">

    <ul class="site-footer__social" aria-label="Perfiles sociales">
      <li>
        <a class="site-footer__link" href="https://profiles.wordpress.org/jjmontalban/" aria-label="WordPress" rel="me">
          <svg {...wordpress.attributes} set:html={wordpress.body} />
          <span class="sr-only">WordPress profile</span>
        </a>
      </li>

      <li>
        <a class="site-footer__link" href="https://www.behance.net/jjmontalban" aria-label="Behance" rel="me">
          <svg {...behance.attributes} set:html={behance.body} />
          <span class="sr-only">Behance profile</span>
        </a>
      </li>

      <li>
        <a class="site-footer__link" href="https://github.com/jjmontalban" aria-label="GitHub" rel="me">
          <svg {...github.attributes} set:html={github.body} />
          <span class="sr-only">GitHub profile</span>
        </a>
      </li>

      <li>
        <a class="site-footer__link" href="https://www.linkedin.com/in/jjmontalban/" aria-label="LinkedIn" rel="me">
          <svg {...linkedin.attributes} set:html={linkedin.body} />
          <span class="sr-only">LinkedIn profile</span>
        </a>
      </li>

      <li>
        <a class="site-footer__link" href="https://unsplash.com/es/@jjmontalban" aria-label="Unsplash" rel="me">
          <svg {...unsplash.attributes} set:html={unsplash.body} />
          <span class="sr-only">Unsplash profile</span>
        </a>
      </li>
    </ul>

  </div>
</footer>
